@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Cores - Vinnie */
:root {
  --cor-bg: #f8fafc;
  --cor-bg-cards: #fff;
  --cor-text: #33415f;
  --cor-text-secondary: #666666;
  --cor-text-input: #a9a9a9;
  --cor-text-error: #d9534f;

  --cor-dark-bg: #18212e;
  --cor-dark-bg-cards: #1e293b;
  --cor-dark-bg-secondary: #33415f;
  --cor-dark-toggle: #0c1118;
  --cor-dark-text: #ffffff;
}

/* Header - Willian */
* {
  font-family: "Geist", sans-serif;
}

body {
  background-color: var(--cor-bg);
  transition: background-color 0.3s, color 0.3s;
  padding: 30px;
}

header h1 {
  font-size: 32px;
  margin: 0;
}

header p {
  margin: 0;
  color: var(--cor-text-secondary);
}

header img {
  max-width: 70px;
  margin-right: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 0;
  justify-content: space-between;
}

.container .content {
  display: flex;
  flex-direction: row;
}

.theme-toggle {
  display: flex;
  align-items: center;
  background: var(--cor-bg-cards);
  border-radius: 999px;
  width: 90px;
  height: 28px;
  padding: 3px 8px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  justify-content: space-between;
}

.theme-toggle .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-text-secondary);
}

.theme-toggle .icon i {
  font-size: 16px;
}

.content-ball {
  background-color: var(--cor-bg);
  width: 48px;
  height: 18px;
  border-radius: 30px;
}

.toggle-ball {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 14px;
  height: 14px;
  background-color: var(--cor-bg-cards);
  border-radius: 50%;
  transition: left 0.3s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.titulo-secao {
  font-size: 15px;
  margin: 16px 0;
  font-weight: bold;
  color: var(--cor-text);
}

/* Agrupamento dos cards principais */
.api-key-container,
.pergunta-container,
.resposta-container {
  background-color: var(--cor-bg-cards);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(144, 146, 146, 0.3);
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/* API Key - Thalyta Ferreira */
.label-container {
  margin: 16px 0;
}

.input-wrapper,
#inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  padding: 10px 15px;
}

.input-wrapper:focus-within {
  border: 1px solid #000000;
  box-shadow: 0 0 0 1px #000000;
  transition: border 0.2s, box-shadow 0.2s;
}

#apiKey {
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  font-size: 15px;
  color: var(--cor-text-secondary);
}

#apiKey::placeholder,
#perguntaInput::placeholder {
  color: var(--cor-text-input);
}

.icon-key {
  margin-right: 8px;
  color: #a9a9a9;
  font-size: 18px;
}

/* Pergunta - Yasmin Moraes*/
#perguntaInput {
  resize: none;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 15px;
  color: var(--cor-text-secondary);
}

#caracteres {
  font-size: 13px;
  color: var(--cor-text-secondary);
}

#button-pergunta {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  background-image: linear-gradient(to right, #7f41fc, #ab3deb);
  color: var(--cor-dark-text);
  font-weight: bold;
  letter-spacing: 0.1em;
}

.botaopergunta:hover,
.botaopergunta:focus {
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(127, 65, 252, 0.5);
}

#button-pergunta:disabled,
.botaopergunta:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  filter: grayscale(0.3);
}

/* Resposta - Christiane Gomes e Bianca */
#respostaSection {
  padding: 20px;
  background-color: #f0f8ff;
  border-left: 5px solid #4f3aad;
  border-radius: 10px;
}

.resposta-container {
  display: none;
}

.resposta-titulo-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.resposta-titulo-circulo {
  height: 7px;
  width: 7px;
  background-color: rgb(41, 184, 41);
  border-radius: 50%;
}

.resposta-texto {
  color: var(--cor-text);
  margin: 0;
}

/* Estilo efeito loading - Michelle */
.loading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  font-size: 14px;
  color: #4f3aad;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #ccc;
  border-top: 3px solid #4f3aad;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

/* Estilo validação - Michelle */
.erro-msg {
  color: #d9534f;
  font-size: 13px;
  margin-top: 4px;
  display: none;
}

.input-erro {
  border: 1px solid #d9534f !important;
  box-shadow: 0 0 5px rgba(217, 83, 79, 0.4);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*Botão limpar - Christiane Gomes */
#botaoLimpar {
  border-radius: 10px;
  height: 35px;
  width: 20%;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 10x;
  background-image: linear-gradient();
  color: var(--cor-dark-text);
  background-color: #91a1af;
  font-weight: bold;
  letter-spacing: 0.1em;
}


/* Footer - Vinnie */
footer {
  margin-top: 40px;
  text-align: center;
  color: var(--cor-text-secondary);
  font-size: 15px;
}

footer strong {
  color: #7f41fc;
  font-weight: 600;
}

footer a {
  color: #ab3deb;
  text-decoration: underline;
  transition: color 0.2s;
}
footer a:hover {
  color: #7f41fc;
}

/* Dark Mode - Vinnie */
.dark {
  background: var(--cor-dark-bg);
  color: var(--cor-dark-text);
}

.dark .theme-toggle {
  background: var(--cor-dark-bg-cards);
}

.dark .content-ball {
  background: var(--cor-dark-bg-secondary);
}

.dark .toggle-ball {
  background-color: var(--cor-dark-toggle);
  box-shadow: 0 0 15px rgba(15, 15, 15, 0.5);
  left: 60px;
}

.dark .titulo-secao,
.dark .label-container,
.dark .api-key-container,
.dark .pergunta-container,
.dark .resposta-container,
.dark .resposta-texto,
.dark .loading {
  color: var(--cor-dark-text);
}

.dark .api-key-container,
.dark .pergunta-container,
.dark .resposta-container {
  background-color: var(--cor-dark-bg-cards);
  box-shadow: 0 0 15px rgba(32, 32, 32, 0.5);
}

.dark #inputWrapper,
.dark #perguntaInput,
.dark #apiKey {
  background-color: var(--cor-dark-bg-secondary);
  color: var(--cor-dark-text);
  border: var(--cor-dark-bg);
}

.dark #respostaSection {
  background-color: var(--cor-dark-bg-secondary);
  color: var(--cor-dark-text);
}

.dark .input-wrapper:focus-within {
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #fff;
  transition: border 0.2s, box-shadow 0.2s;
}
